{% extends 'GDIPGDIPBundle::layout.html.twig' %}

{% block GDIP_body %}
    <div class="container">
        <div class="col-md-6 center-block">
            <h2>Votre profil</h2><br>
            <table class="table table-striped">

                <tbody>
                <tr>
                    <td class="td-bold-colored">Nom :</td>
                    <td>{{ user.nomMembre }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td-bold-colored">Prénom :</td>
                    <td>{{ user.prenomMembre }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td-bold-colored">Filière :</td>
                    <td>Biologie Médicale</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td-bold-colored">Réussite au concours :</td>
                    <td>{{ user.dateReussiteMembre|date("d/m/Y") }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td-bold-colored">Semestres validés :</td>
                    <td>{{ user.nbSemestreValide }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td-bold-colored">Classement :</td>
                    <td>{{ user.rangMembre }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td-bold-colored">Mail :</td>
                    <td>{{ user.email }}</td>
                    <td><input type="submit" value="Modifier"> </td>
                </tr>
                <tr>
                    <td class="td-bold-colored">Mot de passe :</td>
                    {# Mot de passe non affiché pour éviter les problème de sécurité #}
                    <td> ******* </td>
                    <td><input type="submit" value="Modifier"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}