<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}SIPHIF{% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('bundles/front/css/bootstrap.css')}}">
            <link rel="stylesheet" href="{{asset('bundles/front/css/bootstrap-theme.css')}}">
            <link rel="stylesheet" href="{{asset('bundles/front/css/style.css')}}">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{asset('favicon.ico') }}" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

        {# <script type="text/javascript" src="https://code.jquery.com/jquery.js"></script> #}
        <script type="text/javascript" src="{{asset('bundles/front/js/jquery-2.1.4.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/front/js/bootstrap.min.js')}}"></script>
    </head>
    <body>

    <header>
        <div class="container-fluid" id="header">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 text-header"><span class="vertical-bottom">Plateforme d'évaluation et de pré-choix des internes</span></div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </header>
    <div id="page-content">
        {% block body %}
        {% endblock %}
    </div>
    <div class="container-fluid" id="footer">
        <div class="row vertical-middle">
            <div class="col-md-4">© IUT Paris Descartes</div>
            <div class="col-md-4 text-center">Mentions Légales</div>
            <div class="col-md-4 text-right">
                <a href="http://siphif.org/"><i id="social" class="fa fa-link fa-3x"></i></a>
                <a href="https://twitter.com/siphif"><i id="social" class="fa fa-twitter-square fa-3x"></i></a>
                <a href="mailto:bureausiphif@googlegroups.com"><i id="social" class="fa fa-envelope-square fa-3x"></i></a>
            </div>
        </div>
    </div>
    {% block javascripts %}
    {% endblock %}
    </body>
</html>
