{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container" id="div-signin">
    <form role="form " action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
            <div class="modal-body">
                <fieldset>
                    <div class="form-group">
                        {{ form_label(form.nomMembre) }}
                        {{ form_widget(form.nomMembre) }}
				        {{ form_errors(form.nomMembre) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.prenomMembre) }}
                        {{ form_widget(form.prenomMembre) }}
				        {{ form_errors(form.prenomMembre) }}
                    </div>
                    <div class="form-group">
                    	{{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
				        {{ form_errors(form.email) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.username) }}
                        {{ form_widget(form.username) }}
                        {{ form_errors(form.username) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.rangMembre) }}
                        {{ form_widget(form.rangMembre) }}
                        {{ form_errors(form.rangMembre) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.dateReussiteMembre) }}
                        {{ form_widget(form.dateReussiteMembre) }}
                        {{ form_errors(form.dateReussiteMembre) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.nbSemestreValide) }}
                        {{ form_widget(form.nbSemestreValide) }}
                        {{ form_errors(form.nbSemestreValide) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.estAdherent) }}
                        {{ form_widget(form.estAdherent) }}
                        {{ form_errors(form.estAdherent) }}
                    </div>
                 {#    <div class="form-group">
                        {{ form_label(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first) }}
				        {{ form_errors(form.plainPassword.first) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second) }}
				        {{ form_errors(form.plainPassword.second) }}
                    </div> #}
                    {{ form_widget(form._token) }}
                </fieldset>
            </div>
            <input type="submit" class="btn btn-sm" id="_submit" name="_submit" value="{{ 'registration.submit'|trans }}" />


    </form>
    </div>
{% endblock %}