{% extends 'GDIPGDIPBundle::layout.html.twig' %}

{% block GDIP_body %}
    <div class="page-prechoix">
        <div class="container-fluid">
            <div class="col-md-5">
                <h2>Rechercher un stage</h2>
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                <select name="" id="domaines">
                    <option value="0">Selectionnez un domaine</option>
                    {% for domaine in domaines %}
                        <option value="{{ domaine.id }}">{{ domaine.libelleDomaine }}</option>
                    {% endfor %}
                </select>
                <br>
                <select name="" id="hopitaux" class="hidden">
                    <option value="0">Selectionnez un hopital</option>
                </select>
                <br /><br />
                <ul id="resultatPreChoix" class="list-unstyled">
                </ul>
            </div>
            <div class="col-md-6">
                <div class="panel-title">
                    <h2>Mes pré-choix</h2>

                    <div class="alert alert-info" role="alert">
                        <span class="label label-info">Info</span> {% if nbNotChosen>0 %}{{ nbNotChosen }}{% else %}Aucun{% endif %} utilisateur{% if nbNotChosen>1 %}s{% endif %} n'{% if nbNotChosen>1 %}ont{% else %}a{% endif %} pas encore choisi. <br>
                        <span class="label label-info">Info</span> {% if nbBetterChosen>0 %}{{ nbBetterChosen }}{% else %}Aucun{% endif %} utilisateur{% if nbBetterChosen>1 %}s{% endif %} mieux placé{% if nbBetterChosen>0 %}s{% endif %} {% if nbBetterChosen==0 %}n'{% endif %}{% if nbBetterChosen>1 %}ont{% else %}a{% endif %} déjà choisi.
                    </div>

                    <div>
                        Faites glisser pour changer l'ordre
                    </div>
                    <div class="alert alert-success alert-dismissible fade in hidden" role="alert" id="alertSuccess">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        L'ordre de vos pré-choix a été mis à jour avec succès !
                    </div>

                    <div id="ordreChoix" class="hidden"></div>
                </div>

                <ul id="sortable" class="list-unstyled myList">
                    {% for prechoix in entities %}
                        <li class="panel panel-info choice" id="{{ prechoix.position }}">
                            <div class="panel-heading">Choix {{ prechoix.position }}  <span class="pull-right clickable delete"><i class="fa fa-times" ></i></span>   </div>
                            <div class="panel-body">
                                Domaine : {{ prechoix.stage.service.domaine.libelleDomaine }}<br>
                                Hopital : {{ prechoix.stage.hopital.libelleHopital }}<br>
                                Service : {{ prechoix.stage.service.libelleService }}<br>
                                Admission Possible : {% if prechoix.admisProb %}Oui{% else %}Non{% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <input id="submit" type="submit" class="btn btn-sm pull-right red_button" value="Valider" />
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{asset('bundles/front/js/jquery-ui.min.js')}}"></script>
    <script type="text/javascript">
        $(function(){
            $("#sortable").sortable();
            MAJListe();
            $( ".myList" ).sortable({
                stop: function( event, ui ) {
                    MAJListe();
                }
            });
        });
    </script>

    <script type="text/javascript">
        $('#submit').click(function(event) {
            event.preventDefault();
            $('#alertSuccess').addClass('hidden');
            $('#submit').css("opacity", 0.3);
            $('#submit').attr('value', 'Patientez...');
            var ordrePreChoixString = $('#ordreChoix').text();
            $.ajax({
                url: '{{ path("validationPreChoix") }}',
                data: 'ordrePreChoixString=' + ordrePreChoixString,
                dataType: 'json',
                success: function()
                {
                    $('#submit').css("opacity", 1);
                    $('#submit').attr('value', 'Valider');
                    $('#alertSuccess').removeClass('hidden');
                    // Réattribution des id
                    $( ".choice" ).each(function( index ) {
                        $( this ).attr("id", index+1);;
                    });
                    MAJListe();
                }
            });
        });

        $('.delete').click(function() {
            $(this).parent().parent().remove();
            MAJListe();
        });
    </script>

    <script type="text/javascript">
        function MAJListe() {
            var idArr=$( ".myList" ).sortable( "toArray" );
            jQuery("#ordreChoix").text(idArr.join());//Génère la chaîne de caractères
        }
    </script>

    <script type="text/javascript">
        $('#domaines').change(function(){
            var idDomaine = $("#domaines option:selected" ).val();
            if(idDomaine == 0){
                $('#hopitaux').addClass("hidden");
            }
            else{
                $.ajax({
                    url: '{{ path("getHopitaux") }}',
                    data: 'idDomaine=' + idDomaine,
                    dataType: 'json',
                    success: function(data)
                    {
                        $('#hopitaux').html("<option value='0'>Selectionnez un hopital</option>");
                        $.each(data["hopitaux"],function(key, value) {
                            $("#hopitaux").append("<option value='" + key + "'>" + value + "</option>");
                        });
                        $('#hopitaux').removeClass("hidden");
                        $('#resultatPreChoix').html("Aucun stage disponible pour cet hopital !");
                    }
                });
            }
        });
    </script>

    <script type="text/javascript">
        $('#hopitaux').change(function(){
            var idHopital = $("#hopitaux option:selected" ).val();
            if(idHopital == 0){
                $('#resultatPreChoix').html("Aucun stage disponible pour cet hopital !");
            }
            else{
                $.ajax({
                    url: '{{ path("getStages") }}',
                    data: 'idHopital=' + idHopital,
                    success: function(data)
                    {
                        $('#resultatPreChoix').html(data);
                    }
                });
            }
        });
    </script>
{% endblock %}