{% extends 'GDIPAdminBundle::layout.html.twig' %}

{% block admin_body %}
    <div class="container-fluid">
        <div class="col-md-12 center-block">
            <h2>Actualités :</h2><br>
            <div class="container-fluid">
                {% for entity in entities %}
                    <div id="actualite{{ entity.id }}" class="row">    
                        <p class="lead">{{ entity.date|date('d/m/Y - h:i:s')}}</p>
                        <p class="dateActualite">
                            {{ entity.contenu }}
                        </p>
                        <p align="right">
                            <a href="{{ path('actualite_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil-square-o pencil fa-2x"></i></a>
                            <a href="" id="delete{{ entity.id }}"><i class="fa fa-trash-o trash fa-2x"></i></a>
                        </p>
                    </div>

                    <script type="text/javascript">
                        $('#delete{{ entity.id }}').click(function(event) {
                            event.preventDefault();
                            $.ajax({
                                url: '{{ path("actualite_delete", {"id" : entity.id}) }}',
                                dataType: 'json',
                                success: function(data)
                                {
                                    $('#actualite{{ entity.id }}').animate({ height: 0, opacity: 0, margin: 0 }, 'slow', function(){
                                        $('#actualite{{ entity.id }}').remove();
                                    });
                                }
                            });
                        });
                    </script>
                {% endfor %}
            </div>
            <div class="container-fluid">
                <p class="ajout-donnees">
                    <a href="{{ path('actualite_new') }}"><i class="fa fa-plus fa-2x plus"></i>CREER UNE ACTUALITE</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}